<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Shopoholic</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">electronics</a></li>
            <li><a class="dropdown-item" href="#">jewelery</a></li>
            <li><a class="dropdown-item" href="#">men's clothing</a></li>
            <li><a class="dropdown-item" href="#">women's clothing</a></li>
            <!-- <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="card text-center">
  <div class="card-header">Special Discout</div>
  <div class="card-body">
    <h5 class="card-title">Jewelery up to 7% OFF</h5>
    <p class="card-text">Offer ends soon</p>

    <a href="#" class="btn btn-primary">View Product</a>
  </div>
  <div class="product-display">
    <img
      src="https://images.pexels.com/photos/15856321/pexels-photo-15856321/free-photo-of-golden-neklaces-on-woman.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      class="card-img-bottom"
      alt="Golden Necklace"
      width="100px"
    />
  </div>

  <div class="card-footer text-body-secondary">
    *Offers vary from product to product
  </div>
</div>
